{% extends 'base.html' %}
{% block body %}

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/static/img/1.jpg" alt="">
                                    <h3><a href="#">How to Create Template</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <article class="blog-teaser">
                                <header>
                                    <img src="/static/img/2.jpg" alt="">
                                    <h3><a href="#">Clean Personal Blog Template</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <article class="blog-teaser">
                                <header>
                                    <img src="/static/img/4.jpg" alt="">
                                    <h3><a href="#">Blackor - Responsive HTML5 Theme</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/static/img/1.jpg" alt="">
                                    <h3><a href="#">How to Create Template</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>
                     <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <article class="blog-teaser">
                                <header>
                                    <img src="/static/img/3.jpg" alt="">
                                    <h3><a href="#">Blackor - Responsive HTML5 Theme</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/static/img/1.jpg" alt="">
                                    <h3><a href="#">How to Create Template</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>
                     <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <article class="blog-teaser">
                                <header>
                                    <img src="/static/img/3.jpg" alt="">
                                    <h3><a href="#">Blackor - Responsive HTML5 Theme</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">
                                <header>
                                    <img src="/static/img/5.jpg" alt="">
                                    <h3><a href="#">How to Create Template</a></h3>
                                    <span class="meta">19 August 2017, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>

                    </div>

                    <div class="paging">
                        <a href="#" class="older">Older Post</i></a>
                    </div>
                </div>
                <aside class="col-md-4 blog-aside">

                    <div class="aside-widget">
                        <header>
                            <h3>Featured Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Related Post</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                <li><a href="">Blackor Responsive Theme</a></li>
                                <li><a href="">Portfolio Bootstrap Template</a></li>
                                <li><a href="">Clean Slider Template</a></li>
                                <li><a href="">Clean - Responsive HTML5 Template</a></li>
                                <li><a href="">Responsive Pricing Table</a></li>
                                <li><a href="">Yellow HTML5 Template</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="aside-widget">
                        <header>
                            <h3>Tags</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}